[submodule "src/service_agent"]
	path = src/service_agent
	url = https://github.com/spiegela/erlang_service_agent
[submodule "src/service_broker"]
	path = src/service_broker
	url = https://github.com/spiegela/erlang_service_broker
